body {
  font-family: Arial;
  text-align: center;
  margin-top: 40px;
  background-color: yellow;
}

input, button {
  padding: 8px;
  margin: 5px;
}

fieldset {
  border-radius: 10px;
  margin: 10px auto;
  width: 250px;
  border: 1px solid #ccc;
}